<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @test.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @test.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @test.longitude %>
</p>

<p>
  <strong>TEST!!!!</strong>
  <%= @location.latitude %>
  <%= @location.longitude %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
